<!DOCTYPE html>
<html>
<head>
  <title>Wordpad</title>
  <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'jquery-1.11.2.min', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'nicEdit', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
<div id="user_nav">

  <% if user_signed_in? %>
      <%= link_to 'Dashboard', '/dashboard/index' %>
      Signed in as <%= if user_signed_in?  then current_user.name end  %> Not you?
      <%= link_to 'sign out', destroy_user_session_path, :method => :delete %>
  <% else %>
      <%= link_to 'Sign up', new_user_registration_path %> or <%= link_to 'Sing in', new_user_session_path %>
  <% end %>
</div>
<div>
  <%= flash[:notice]%>
  <%= flash[:alert]%>
</div>
<%= yield %>

</body>
</html>
