<h2>Sign up</h2>

<%= simple_form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
    <%#= devise_error_messages! %>

    <div class="field">
      <%= f.input :name, required: true, input_html: {maxlength: 20} %>
    </div>

    <div class="field">
      <%= f.input :email, placeholder: 'user@domain.com', required: true, input_html: {class: 'required'} %>
    </div>

    <div class="field">
      <%= f.input :password, hint: false, hint: 'password length 8 to 20 characters.', input_html: {maxlength: 20}, error_html: {id: 'password_error'} %>
      <%= f.input :password_confirmation %>
    </div>

    <div class="actions">
      <%= f.button :submit %>
    </div>
<% end %>

<%= render "devise/shared/links" %>
