<%= simple_form_for @blog do |f| %>
    <% if @blog.errors.any? %>
        <div>
          <%= pluralize(@blog.errors.count, 'error')+ 'prohibit this blog being saved' %>
          <% @blog.errors.full_messages.each do |msg| %>
              <%= msg %><br/>
          <% end %>
        </div>
        <%#= f.error_messages %>
        <%= f.input :content %>
        <%= f.input :status, :collection => ['publish', 'draft', 'trash'], :include_blank => false %>
        <%= f.input :title %>
        <%= f.association :language, :include_blank => false %>
        <%= f.button :submit %>
    <% end %>
<% end %>
