<p id="notice"><%= notice %></p>

<p>
  <strong>Content:</strong>
  <%= @blog.content %>
</p>

<p>
  <strong>Language:</strong>
  <%= Language.find(@blog.language_id).name %>
</p>

<p>
  <strong>User:</strong>
  <%= User.find(@blog.user_id).name %>
</p>

<p>
  <strong>Status:</strong>
  <%= @blog.status %>
</p>

<p>
  <strong>Title:</strong>
  <%= @blog.title %>
</p>

<%= link_to 'Edit', edit_blog_path(@blog) %> |
<%= link_to 'Back', blogs_path %>
